# ----------------------------------------
# NPM
# ----------------------------------------

node_modules/
npm-debug.log



# ----------------------------------------
# ENV
# ----------------------------------------
.env


# ----------------------------------------
# Boilerplate
# ----------------------------------------
genr8/