{{!--<h1>Search Profiles</h1>--}}

{{!--{{> shared/_search-options}}--}}

{{!--{{#each rows as |users-row|}}--}}
{{!--  <div class="row">--}}
{{!--  {{#each users-row as |user|}}--}}
{{!--    <div class="col-md-4">--}}
{{!--      {{> shared/_profile-card viking = user}}--}}
{{!--    </div>--}}
{{!--  {{/each}}--}}
{{!--  </div>--}}
{{!--{{/each}}--}}

<h1>Search Profiles</h1>

{{> shared/_search-options}}

  <div class="row">
    <div class="col-xs-12 col-s-6 col-md-4">
      {{#each users as |user|}}
        {{> shared/_profile-card viking = user}}
      {{/each}}
    </div>
  </div>